/* Content Form Input
/* ====================== */
.content-form{
    overflow: hidden;
    position: relative;

    > .row{
        margin: 0;
    }

    .side-form{
        position: relative;
        background-color: #fff;
        border-right: solid 1px #efefef;
        padding: 0;
        min-height: calc(100vh - 113px);
        overflow-y: auto;
        @extend .panel-shadow;

        .form-group{
            border-bottom: solid 1px #efefef;
            padding: 20px 30px 25px;
        }
    }

    .main-form{
        padding: 0;
        position: relative;
    }
}

/* List Jembatan
/* ====================== */
.list-jadwal{
    position: relative;
    border-bottom: solid 1px #efefef;
    padding: 25px 30px;
    background-color: #fff;

    .link{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .title{
        margin-bottom: 5px;
        margin-top: 0;

        .text-danger{
            @extend .alert;
            @extend .alert-danger;
            padding: 0 5px;
        }

        .text-info{
            @extend .alert;
            @extend .alert-info;
            padding: 0 5px;
        }
    }

    .row{
        margin: 0;

        .col{
            padding: 0;

            &.status{
                color: $color-primary;
                font-weight: 700;
                text-align: right;
            }
        }
    }

    .btn-upload{
        margin-right: 5px;
        margin-top: -10px;
    }

    .icon{
        width: 16px;
        height: 16px;
    }
}
.wrap-list-jadwal{
    position: relative;

    .list-jadwal{
        padding: 15px 20px;

        .title{
            margin-bottom: 0;
        }

        &.active,
        &:hover{
            background-color: $color-primary;
            color: #fff;

            .status,
            .title{
                color: #fff !important;
            }
        }

        &.active a{
            cursor: default;
        }
    }
}


.item-slide{
    position: relative;
    display: block;

    img{
        width: 100%;
    }

    .option{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5px;
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        text-align: center;
    }
}


.wrap-slider{
    position: relative;
    padding: 5px;
    border: solid 1px #efefef;

    .owl-nav{
        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 100%;
        padding: 0 15px;

        button{
            outline: 0;
        }

        .owl-next{
            float: right;
        }
        
        img{
            height: 40px;
            padding: 10px;
            background-color: rgba(0,0,0,0.7);
            border: solid 1px #efefef;
            @include border-radius(4px);
        }
    }
}

.feature-content{
    margin: 0;
    border: solid 1px #dfdfdf;
    overflow: hidden;
    @include border-radius(4px);

    > div{
        border-left: solid 1px #dfdfdf;
        background-color: #fafafa;
        padding: 15px;

        &:first-child{
            border: 0;
        }
    }
}

/* Table Info
/* ======================= */
.nav-tabs-regular>.nav-tabs{
    margin-top: 35px;
    margin-bottom: 12px;
    border-bottom: 0;
}
.nav-tabs-regular>.nav-tabs>li {
    margin: 0;
    border-top: none;
}
.nav-tabs-regular>.nav-tabs>li:first-child a {
    border-radius: 4px 0 0 0;
}
.nav-tabs-regular>.nav-tabs>li:last-child a {
    border-radius: 0 4px 0 0;
}
.nav-tabs-regular>.nav-tabs>li>a, 
.nav-tabs-regular>.nav-tabs>li>a:hover {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px 25px;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: none;
    color: #777;
    position: relative;
    text-decoration: none;
}
.nav-tabs-regular>.nav-tabs>li:first-child>a{
    border-left: solid 1px #e6e6e6;
}
.nav-tabs-custom>.nav-tabs>li:not(.active)>a:hover,
.nav-tabs-regular>.nav-tabs>li>a.active,
.nav-tabs-regular>.nav-tabs>li:first-of-type.active>a {
    border-bottom: none;
    color: $color-title;
}
.nav-tabs-regular>.nav-tabs>li>a.active:before{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #903e98;
    width: 100%;
    height: 4px;
    left: 0;
}
.nav-tabs-regular .tab-content {
    border-radius: 0 4px 4px;
    overflow-x: auto;
}
.table-info-detail tr td {
    width: 30%;
}
.table-info-detail tr td.td-label {
    width: 20%;
    color: #777;
    padding: 12px 12px 12px 15px;
}
.relative {
    position: relative !important;
}
.table-info-detail .total-score {
    font-size: 18px;
    background-color: rgba(130,189,42,0.2);
    padding: 12px 15px;
    color: $color-title;
}
.table-info-detail .inspection-result {
    padding: 15px;
}
.table-info-detail .inspection-result img{
    width: 100%;
}

/* Form Input
/* ====================== */
.form-input{
    padding: 30px;

    .nav.nav-tabs{
        padding-left: 20px;
        border-bottom: 0;

        .nav-item{
            margin-right: -1px;

            a{
                text-transform: uppercase;
                font-weight: 700;
                padding: 15px 25px 15px 45px;
                border-color: #dfdfdf;
                position: relative;
                background-color: #efefef;
                color: #9a9a9a;
                @include border-radius(0); 


                &:before{
                    content: "";
                    position: absolute;
                    left: 100%;
                    margin-left: -2px;
                    top: 0;
                    border-top: solid 26px transparent;
                    border-bottom: solid 26px transparent;
                    border-left: solid 26px #efefef;
                    z-index: 2;
                }

                &:after{
                    content: "";
                    position: absolute;
                    left: 100%;
                    top: 0;
                    border-top: solid 26px transparent;
                    border-bottom: solid 26px transparent;
                    border-left: solid 26px #dfdfdf;
                    z-index: 1;
                }

                &.active{
                    background-color: #fff;
                    color: $color-primary;

                    &:before{
                        border-left-color: #fff;
                    }
                }
            }

            &:last-child{
                a{
                    border-top-right-radius: 4px;

                    &:before,
                    &:after{
                        display: none;
                    } 
                }
            }

            &:first-child{
                a{
                    border-top-left-radius: 4px;
                    padding-left: 25px;
                }
            }
        }
    }

    table{
        tr{
            td{
                padding: 3px 5px;

                &:first-child{
                    padding-left: 0;
                    color: $color-title;
                    font-weight: 700;
                }
            }
        }
    }
}

.footer-form{
    border-top: solid 1px #efefef;
    padding: 25px 30px;
    background-color: #fff;
    
}

@media(max-width:920px){
    .form-input{
        .nav.nav-tabs{
            padding-left: 0;

            .nav-item{
                a{
                    padding: 10px 15px !important;

                    &::after,
                    &:before{   
                        display: none;
                    }
                }
            }
        }
    }
}

@media(max-width:767px){
    .content-form{
        .side-form{
            min-height: auto;
        }
    }

    .feature-content{
        > div{
            border-left: 0;
            border-bottom: solid 1px #dfdfdf;

            &:first-child{
                border-bottom: solid 1px #dfdfdf;
            }

            &:last-child{
                border-bottom: 0;
            }
        }
    }
}

@media(max-width:380px){
    .form-input{
        .nav.nav-tabs{
            padding-left: 0;

            .nav-item{
                display: block;
                width: 100%;
            }
        }
    }

    .nav-tabs-regular>.nav-tabs>li>a, 
    .nav-tabs-regular>.nav-tabs>li>a:hover {
        padding: 15px 15px;
    }
}